@charset "utf-8";

/* basic set */
body{
    margin: 0;
}
div{
    box-sizing: border-box;
}
h1, h2, h3, h4, p{
    margin: 0;
}

/* intro */
.intro-wrap-bg{
    background: linear-gradient( #DE3163,#590a20);
    height: 550px;
    padding: 50px;
    color: #8DFF99;
    overflow: hidden;
}
.intro-wrap{
    max-width: 1000px;
    margin: auto;
}
.intro-typos{
    color: #8DFF99;
    margin-top: 50px;
    float: left;
}
.intro-wrap button{
    background-color: #8DFF99;
    color: #DE3163;
}
.intro-wrap img{
    width: 300px;
    float: right;
    margin-top: 100px;
}



/* middleware1 */
.middleware-wrap1{
    background-color: #8DFF99;
    color: #DE3163;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 10px;
}
.middleware-wrap1 button{
    background-color: #DE3163;
    color: #8DFF99;
    width: 100px;
    padding: 10px;
    border: 0;
    border-radius: 15px;
}



/* middleware2 */
.middleware-wrap2{
    background-color: #DE3163;
    color: #8DFF99;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.icon-rows{
    display: flex;
    max-width: 1200px;
    /* justify-content: center; */
}
.icon-div{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    justify-content: center;
}
.icon-div i{
    background-color: #8DFF99;
    color: #DE3163;
    border-radius: 50%;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* bottom-wrap */
.bottom-wrap{
    background-color:#8DFF99;
    color: #DE3163;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.box-card-wrap{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}
.box-card{
    height: 200px;
    color: white;
    width: 50%;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.bgi{ background-size: cover; background-position: center; }
.img1{ background-image: url(img/IMG_3536.JPG); }
.img2{ background-image: url(img/IMG_3528.JPG); }
.img3{ background-image: url(img/IMG_3551.JPG); }
.img4{ background-image: url(img/IMG_3533.JPG); }



/* footer */
.footer{
    background-color: #DE3163;
    color: #8DFF99;
    gap: 10px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sns-bundle{
    display: flex;
    gap: 10px;
}
.sns-bundel i{
    background-color: #8DFF99;
    color: #DE3163;
    border-radius: 10px;
}
.ft{
    display: flex;
    gap: 5px;
}

/* reuseable */
.title-typo{
    text-align: center;
}



/* media query */
@media screen and (max-width: 992px) {
    .intro-wrap img {
        width: 250px;
        display: block;
        float: none;
        margin: auto;
        margin-top: 50px;
    }
    .intro-typos{
        float: none;
        margin-top: 50px;
        text-align: center;
    }

    .icon-rows{
        flex-direction: column;
        gap: 20px;
    }
    .icon-div{
        width: 100%;

    }
    .icon-div i{
        width: 70px;
        height: 70px;
    }
}
/* 글자 가운데 정렬, 글자와 이미지를 세로로 배치, 이미지가 약간 작아지기, 이미지 가운데 정렬 */