@charset "utf-8";

@font-face {
    font-family: 'cutie';
    src: url(/font/MaruBuri-Regular.ttf);
}

 *{
    margin: 0 auto;
    list-style: none;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    line-height: 1.15;
    border-collapse: collapse;
}
button{
    cursor: pointer;
}
button:hover{
    background-color: chartreuse;
}
button:focus{
    color: fuchsia;
}

body{
    background-color: #76a5cc;
    margin: 0;
    padding: 0;
    font-family: 'cutie';
    display: flex;
    flex-direction: column;
    width: 1000px;
    align-items: center;
}

.wrapper{
    width: 1000px;
    height: 1000px;
    padding-top: 50px;
    background-color: #dde6ed;
}

.profile{
    width: 600px;
    height: 200px;
    background-color: #76a5cc;
    border-radius: 5px; 
    align-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px #356d91;
} 

.image{
    margin-top: 20px;
    width: 100px;
    height: 100px;;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text{
    font-size: 16px;
    text-align: center;
}

.box{
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #99bbd8;
    border-radius: 15px;
}

.reactiveUI{
    width: 80%;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: turquoise;
    /* display: flex;
    align-content: center;
    justify-content: center; */
    
}

.reactiveUI div{
    background-color: violet;
    /* display: flex;
    flex-direction: column; */
    float: left;
    width: 25%;
    text-align: center;
    padding: 10px;
}
.reactiveUI i{
    background-color: burlywood;
    color: beige;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.intro{
    background-image: url(../img/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 300px;
    float: none;
    clear: both;
}
.introbox{
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: thistle;
    position: relative; 
    top: -30px;
    z-index: 5;
}
/* 반응형 레이아웃엔 min,max활용 필수 */
/* 가로 길이안에 패딩이랑 보더 포함하고 싶으면 박스-사이징:보더박스로 추가 설정. 박스-사이징:콘텐츠박스는 원래 설정 및 패딩값이 포함 안된 가로*/

input[type=text]{
    padding: 5px;
    font-size: 10px;
    border: 2px solid #356d91;
    border-radius: 8px;
    width: 100%;
    margin: 0;
}

input[type=submit]{
    padding: 3px;
    background-color: #356d91;
    color: white;
    margin: 0;
}

div,input, textarea{
    box-sizing: border-box;
}
.contactBg{
    background-color: #00000070;
    padding: 50px;
    position: relative;
    top: -450px;
    z-index: 100;
}
.contactBox{
    opacity: 100;
    background-color: #99bbd8;
    width: 400px;
    padding: 20px;
}
.inputBox{
    margin: 0;
    width: 100%;
    padding: 5px;
}

.container{
    width: 1000px;
    height: 650px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}

.headerButton{
    padding: 5px;
    font-size: 10px;
    background: cornsilk;
    border-radius: 5px;
    margin: 10px 0 10px 10px;
}
/* position relative 원래 내 위치가 기준 absolute 부모가 기준 fixed 현재 화면이 기준 */

.belowContainer{
    display: flex;
    height: 100%;
}

.menu{
    width: 20%;
    height: 100%;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    height: 100%;
    margin: 10px;
}

.contents{
    width: 80%;
    height: 100%;
    background-color: cornsilk;
    float: right;
}

.navbar{
    background-color:orchid;
    padding-top: 5px;
}
.navbar>li{
    display: inline-block;
    width: 60px;
    text-align: center;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    background-color: cornsilk;
}
.navbar a {
    font-size: 16px;
}
/* > ~안에 있는 직계자식, 띄어쓰기 ~안에 있는 모든 자식 */

.post{
    padding: 15px;
    margin: 10px;
    display: flex;
    border-radius: 10px;
    background-color:whitesmoke;
    box-shadow: grey 5px 5px;
    font-size: 15px;
}

.writer{
    margin: 5px;
    display: flex;
}
.writer>a{
    width: 50px;
    margin: 0;
}
.writer>div{
    margin: 10px 0 0 15px;
    text-align: left;
}
.postcontents{
    margin: 10px 10px 0 0 ;
}

.background{
    width: 100%;
    height: 100%;
    background-image: url(../img/myimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.background>h4{
    color:white;
    font-size: 40px;
    padding: 15px 0 0 15px;
    text-shadow: 2px 2px gray;
}
.background>p{
    padding: 5px 0 0 15px;
    color:white;
    text-shadow: 2px 2px gray;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: coral;
    /* float 다음에 오는 요소에게 clear both를 주면 float으로인해 발생하는 이상현상 해결 가능 */
    
}

.footerButton{
    padding: 5px;
    font-size: 10px;
    background: cornsilk;
    border-radius: 5px;
    margin: 10px 0 10px 10px;
    /* position: fixed; */
}
/* position relative 원래 내 위치가 기준 absolute 부모가 기준 fixed 현재 화면이 기준 */

.tableprac{
    width: 700px;
    height: 700px;
    padding: 30px;
    background-color: #356d91;
    margin: 20px;
}

.cartTable{
    border-radius: 10px;
    background-color: #dde6ed;
    color: #356d91;
    width: 100%;
    max-width: 700px;
    margin: auto;
}
.cartTable td, .cartTable th{
    padding: 10px;
    vertical-align : middle;
    border-bottom: 1px solid #356d91;
    padding: 10px;
}
.cartTable th:nth-child(2){
    width:700px;
}
.cartTable td:nth-child(even) {
    color: red;
}
.cart-table tr:nth-child(3n+0) {
    color: green;
}  

.paybutton{
    float: right;
    color: white;
    background-color: #356d91;
    padding: 10px;
}
.pseudo::first-letter{
    color: rebeccapurple;
    font-size: 30px;
}
.pseudo::after {
    content: 'having hard time';
    color: goldenrod;
}
.input-file::file-selector-button {
    background-color: turquoise;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.input-file::file-selector-button:hover{
    background-color: hotpink;
}
.input[type=file]::-webkit-file-upload-button{
    appearance: none;
    content: 'files';
}
input[type=range]{
    appearance: none;
    background: lime;
}
input[type=range]::-webkit-slider-thumb{
    appearance: none;
    background:indianred;
    width: 20px;
    height: 20px;
}
progress {
    /*기본 배경은 없애주는게 좋습니다*/
    -webkit-appearance: none;
    -moz-appearance : none;
    appearance: none;
    background:dodgerblue;
  /* IE10 호환성용 */
    color:darkmagenta;
  }
  progress::-webkit-progress-bar {
    background-color:cadetblue;
    border-radius: 10px;
  }
  progress::-webkit-progress-value {
    background: linear-gradient(chartreuse,crimson);
    border-radius: 10px;
  }
  
  /*파이어폭스 호환성을 위해*/
  progress::-moz-progress-bar {
    background-color:mediumslateblue;
    border-radius: 2px;
  }
.clickers{
    flex-direction: column;
}

.mainBtn{
    padding: 15px;
    border: none;
    color: honeydew;
    margin: 10px;;
}

.bgPink{
    background-color: thistle;
}
.bgPurple{
    background-color: orchid;
}


.vpPractice{
    width: 100vw;
    height: 100vh;
    background-color: tomato;
    padding: 20px;
    /* html 폰트 사이즈는 16px, rem은 그에 10배 10rem은 160px 20rem은 320px*/
    /* 옛날 브라우저는 설정에서 글꼴 크기를 키웠음. 나머지 레이아웃은 그대로 유지하기 때문에 깨짐 */
    /* 모든 버튼에 rem 처리하면 크기가 커져도 깨지지 않음 */
    /* 요즘은 쓸데가 없음. 타이포 그래피 할 때 rem 잘 씀 */
    /* em은 폰트의 몇배 단위임 */
}
.shopContainer{
    display: flex;
    width: 90%;
    margin: auto;
}
.shopItem{
    width: 33%;
    padding: 10px;
}
.shopItem img{
    width: 100%;
    display: block;
}

.overlay-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.overlay-black{
    width: 100%;
    height: 100%;background-color: rgba(0,0,0,0.3);
    margin-top: 100%;
    transition: all 1s;
}
.overlay-black span{
    color: white;
    padding: 20px;
}
.overlay-wrap:hover .overlay-black{
    margin-top: 50%;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 1s;
    /* transition-delay: 1s; 시작 전 딜레이 */
    transition-duration: 0.5s; /* transition 작동 속도 */
    /* transition-property: opacity; 어떤 속성에 transition 입힐건지 */
    transition-timing-function: ease-in; /* 동작 속도 그래프조정 */
}
.overlay:hover {
    opacity: 1;
}


@media screen and (max-width:1200px) {
    /* media query 현재 브라우저 폭 1200픽셀 이하에서는 아래 클래스를 적용해주세요 */
    .main-title {
        font-size: 30px;
    }
    .reactiveUI div{
        background-color: turquoise;
        width: 50%;
    }
    .reactiveUI {
        max-width: 700px;
    }
}

@media screen and (max-width:768px) {
   /* breakpoint로 1200px 992px테블릿 768px 576px모바일 관습적으로 많이 사용함 */
   /* 너무 많으면 관리하기 힘들어서 보통 1200이하는 테블릿, 768 이하는 모바일 이렇게 해서 디자인함 */
    .main-title {
        font-size: 20px;
    }
    .reactiveUI div{
        background-color: khaki;
        width: 100%;
    }
}